html,body
{
	height:100%;
    width:100%;
}

#main
{
	height:100%;
	width:100%;
}

#modal-header
{
	height:10%;
	background-color:black;
}
#tb111
{
    font-size:100%;
    background-color :white;
	width: 100%;
	height:100%;
}
#second11
{
	height:80%;
	width:100%;
	border-style:groove;
	border-color:grey;
	background-color:black;
}
#third11
{
	height:10%;
	width:100%;
	background-color:black;
}
#first-one11
{
	height:45%;
	width:100%;
}
#first-two11
{
	height:55%;
	width:100%;
}
#second-one11
{
	height:98%;
	width:9.1%;
	float:left;
}
#second-two11
{
	height:98%;
	width:90.9%;
	float:right;
}
#one
{
	height:20%;
	width:100%;
}
#two
{
	height:20%;
	width:100%;
}
#three
{
	height:20%;
	width:100%;
}
#four
{
	height:20%;
	width:100%;
}
#five
{
	height:20%;
	width:100%;
}

button[type="Button"]
{
	height:20%;
	width:99%;
	color:white;
	margin-top:2px;
    border-radius: 8px;
	background:linear-gradient(#B2CCCC,#3D5C5C);
	float:left;
}
button[type="numpadButton11"]
{
	height:99%;
	width:10%;
	color:white;
	margin-top:2px;
    border-radius: 8px;
	background:linear-gradient(#B2CCCC,#3D5C5C);
	float:left;
}
button[type="spaceButton11"]
{
	height:99%;
	width:60%;
	color:white;
	margin-top:2px;
    border-radius: 8px;
	background:linear-gradient(#B2CCCC,#3D5C5C);
}
button[type="enterButton11"]
{
	height:99%;
	width:20%;
	color:white;
	margin-top:2px;
    border-radius: 8px;
	background:linear-gradient(#B2CCCC,#3D5C5C);
	float:right;
}

button[type="delButton11"]
{
	height:99%;
	width:20%;
	color:white;
	margin-top:2px;
    border-radius: 8px;
	background:linear-gradient(#B2CCCC,#3D5C5C);
	float:left;
}
button[type="confirmOption11"]
{
	height:10vh;
	width:5vw;
	color:white;
	float:right;
	margin-top:2px;
	margin-right:2px;
    border-radius: 8px;
	background:linear-gradient(#B2CCCC,#3D5C5C);
}
