html,body
{
	height:100%;
    width:100%;
}

#main
{
	height:100%;
	width:100%;
}

#first
{
	height:95%;
	width:100%;
	background-Color:black;
	border-width:5vw;
	border-color:grey;
}
#second
{
	height:5%;
	width:100%;
	background-Color:black;
	border-style:groove;
	border-width:0.2vw;
	border-color:grey;
}
#first-one
{ 	
	height:100%;
	width:50%;
	background-Color:black;
	border-style:groove;
	border-width:0.2vw;
	border-color:grey;
	float:left;
}
#first-two
{ 	
	height:100%;
	width:50%;
	background-Color:black;
	border-style:groove;
	border-width:0.2vw;
	border-color:grey;
	float:left;
}
#first-one-one
{
	height:75%;
	width:100%;
	background-Color:#F8F8F8 ;
	border-style:groove;
	border-width:0.15vw;
	border-color:grey;
}
#first-one-two
{
	height:25%;
	width:100%;
	border-style:groove;
	border-width:0.15vw;
	border-color:grey;
}
#first-two-one
{
	height:60%;
	width:100%;
}
#first-two-two
{
	height:40%;
	width:70%;
	border-style:groove;
	border-width:0.25vw;
	border-bottom:black;
	border-left:black;
	border-color:grey;
}
#numberPad
{
	height:98%;
	width:80%;
	margin-left:2px;
	margin-top:2px;
	border-style:groove;
	border-width:0.5vw;
	border-color:grey;
	float:left;
}
#numPad
{
	height:98%;
	width:75%;
	border-color:black;
	float:left;
}
#numPadOptions
{
	height:98%;
	width:25%;
	border-color:black;
	float:right;
}
#cross
{
	height:98%;
	width:19%;
	border-style:groove;
	border-width:0.5vw;
	border-color:grey;
	float:right;
}

#NP-One-row1
{
	width:100%;
	height:25%;
}
#NP-One-row2
{
	width:100%;
	height:25%;
}
#NP-One-row3
{
	width:100%;
	height:25%;
}
#NP-One-row4
{
	width:100%;
	height:25%;
}
#operator
{
	height:54%;
	width:100%;
}
#operator-one
{
	height:33%;
	width:100%;
	color:white;
}
#operator-box
{
	height:34%;
	width:100%;
	color:black;
}
#tb1
{
    font-size:100%;
    background-color :white;
	width: 100%;
	height:98%;
}
#operatorOptions
{
	height:40%;
	width:100%;
	border-style:groove;
	border-width:0.3vw;
	border-color:grey;
}
button[type="optionButton"]
{
	height:96%;
	width:25%;
	margin-top:3px;
	margin-right:2px;
	float:right;
	color:white;
    border-radius: 10px;
	background-color:#5C8A8A;
}
button[type="crossButton"]
{
	height:30%;
	width:99%;
	margin-left:1px;
	color:white;
	background:linear-gradient(#828282,black);
}
button[type="numpadButton"]
{
	height:96%;
	width:31%;
	margin-top:3px;
	margin-left:2px;
	color:white;
    border-radius: 10px;
	background-color:#5C8A8A;
}
button[type="numpadButton1"]
{
	height:24%;
	width:96%;
	margin-top:3px;
	margin-left:2px;
	color:white;
    border-radius: 10px;
	background-color:#5C8A8A;
}
button[type="enterButton"]
{
	height:50%;
	width:96%;
	margin-top:3px;
	margin-left:2px;
	color:white;
    border-radius: 10px;
	background-color:#5C8A8A;
}
button[type="doubleZeroButton"]
{
	height:96%;
	width:65%;
	margin-top:3px;
	margin-left:2px;
	color:white;
    border-radius: 10px;
	background-color:#5C8A8A;
}